* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    font-size: 14px;
}

body {
    background-color: #192A56;
    margin: 0;
}

#portfolio-header {
    padding: 1rem 2rem;
}
#portfolio-header--navbar {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: end;
}

#portfolio-header--navbar > li >a {
    text-decoration: none;
    color:rgb(159, 203, 242);
    font-size: 1.5rem;
    padding:8px;
}

#portfolio-header--navbar > li {
    padding:8px;
}
.navbar-icon {
    color:rgb(200, 210, 185);
    font-weight: 800;
    font-size: 1.25rem;
}

#portfolio-main-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10rem 8rem; 
}

#portfolio-main-section--description {
    color: white;
    max-width:800px; 
}

#portfolio-main-section--image img{
    border-radius: 50%;
}