* {
    box-sizing: border-box;
    margin:0;
}

:root {
    font-size: 14px;
}

body {
    background-color: #192A56;
    margin: 0;
}

#portfolio-main-section {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:10rem 8rem; 
}

#portfolio-main-section--description {
    color: white;
    max-width:800px; 
}

#portfolio-main-section--image img{
    border-radius: 50%;
}