.secondary-font {
    font-family: 'Playpen Sans', cursive;
}

.header-font {
    font-size: 3rem;
}

.primary-font {
    font-size:1.25rem;
}

.m-y-1 {
    margin: 0.75rem 0;
 }

 .transparent-btn {
    border: 0.1rem solid green;
    border-radius: 2px;
    padding:0.75rem 1rem;
    font-size: 1.25rem;
    background-color: transparent;
    color:white;
 }